Options -MultiViews
RewriteEngine On

RewriteRule ^api/.* api.php [QSA,L]

RewriteCond %{REQUEST_URI} "^/src/.*" [OR]
RewriteCond %{REQUEST_URI} "^/vendor/.*" [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]
